@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    font-weight: 400 700; /* Range */
    font-style: normal;
}

body{
    font-family: Inter, sans-serif; 
    font-size: 14px ;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
